%h2#product Producto

.comment.small
  %p.gray
    %i.b bonsaiERP
    está diseñado para que las micro y pequeñas empresas tengan un sistema fácil de usar y completo sin las complejidades de sistemas para empresas medianas (50 empleados o más) o grandes (250 empleados o más).

%h3.gray Ingresos y Egresos

.row.feature
  .col-md-4
    .img
      = image_tag 'income.png'

  .col-md-8.pad.pad-left
    Controle sus ingresos y egresos viendo el flujo relacionado con los cobros, pagos, inventarios, cree cotizaciones, esta es la pieza central que le permitirá tener un perspectiva general del movimiento de su empresa.


%h3.gray Cuentas

.row.feature
  .col-md-8.pad.pad-right
    Puede crear cuentas de banco, efectivo y personal controlando los
    saldos y movimientos realizados entre cuentas así como los movimientos
    relacionados con Ingresos y Egresos. Las cuentas de personal
    le permitirán trabajar de forma sencilla con el personal que cuenta su empresa.
  .col-md-4
    .img
      = image_tag 'accounts.png'


%h3.gray Inventarios

.row.feature
  .col-md-4
    .img
      = image_tag 'stores.png'

  .col-md-8.pad.pad-left
    Los inventarios están integrados con los ingresos y egresos así como también se puede
    realizar operaciones entre almacenes como transferencias, además de que le alerta
    de los ítems con mínimos que usted defina por almacén.

%h3.gray Contactos

.row.feature
  .col-md-8.pad.pad-right
    Sepa toda las operaciones relacionadas a un contacto, cuanto le deben y cuanto debe,
    qué operaciones se realizaron, en que estado se encuentran.
  .col-md-4
    .img
      = image_tag 'contacts.png'


%h3.gray Reportes

.row.feature
  .col-md-4
    .img
      = image_tag 'reports.png'
  .col-md-8.pad.pad-left
    Obtenga reportes y gráficas que le ayudarán a tomar decisiones, defina
    el rango de fechas de su reporte, si desea guardar un reporte solo guardelo
    como fávorito y tenga un rápido acceso a cualquier reporte que haya generado.
    -#exporte a Excel las operaciones realizadas como los ingresos o egresos en un rango de tiempo.


%h3.gray Múltiples monedas (divisas)

.row.feature
  .col-md-8.pad.pad-right
    Puede realizar las operaciones en distintas monedas seleccionando
    la moneda para el ingreso o egreso y después puede seleccionar otras
    monedas para cobrar o pagar o realizar el cobro o pago en otras monedas,
    bonsaiERP le sugiere el tipo de cambio pero usted es el que define el mismo. También realize operaciones
    entre cuentas con diferentes monedas.
  .col-md-4
    .img
      = image_tag 'currencies.png'

%h3.gray Quién lo hizo y cuando?

.row.feature
  .col-md-4
    .img
      = image_tag 'modifications.png'

  .col-md-8.pad.pad-left
    Sepa quién y cuándo realizó una modificación a un registro ya sea un Ingreso, Egreso, una operación de inventario, un cobro, etc. Podrá saber en que parte del flujo quien lo hizo y cuando lo hizo.

%h3.gray Historial

.row.feature
  .col-md-8.pad.pad-right
    Sepa con detalle que cambios se realizó en un registro quien los realizo y cuando, por ejemplo precio,
    cantidad y otros. Utilize esta herramienta para poder saber el estado en que se encontraba un registro en
    el pasado.
  .col-md-4
    .img
      = image_tag 'history.png'

%h3.gray Etiquetas

.row.feature
  .col-md-4
    .img
      = image_tag 'tags.png'

  .col-md-8.pad.pad-left
    Las etiquetas son una herramienta de gran ayuda que le permitirá clasificar
    sus ingresos, egresos, ítems, etc. ayudando en sus búsquedas y sus reportes para poder obtener
    mayor precisión y detalle.

