%h2#product Producto


%h3.gray Ingresos y Egresos

.row.feature
  .col-md-4
    .img
      = image_tag 'income.png'

  .col-md-8.pad.pad-left
    Controle sus ingresos y egresos viendo el flujo relacionado con los cobros, pagos, inventarios, cree cotizaciones, esta es la pieza central que le permitirá tener un perspectiva general del movimiento de su empresa.


%h3.gray Cuentas

.row.feature
  .col-md-8.pad.pad-right
    Puede crear cuentas de banco y de efectivo controlando los saldos y movimientos realizados entre cuentas así como los movimientos relacionados con Ingresos y Egresos.
  .col-md-4
    .img
      = image_tag 'accounts.png'


%h3.gray Inventarios

.row.feature
  .col-md-4
    .img
      = image_tag 'stores.png'

  .col-md-8.pad.pad-left
    Los inventarios están integrados con los ingresos y egresos así como también se puede realizar operaciones entre los mismos como transferencias, además de que le alerta de los ítems con mínimos que usted defina por almacén.

%h3.gray Contactos

.row.feature
  .col-md-8.pad.pad-right
    Sepa toda las operaciones relacionadas a un contacto si el le debe o si usted le debe, qué operaciones se realizaron, en que estado se encuentran.
  .col-md-4
    .img
      = image_tag 'contacts.png'


%h3.gray Reportes y exportación

.row.feature
  .col-md-4
    .img
      = image_tag 'reports.png'
  .col-md-8.pad.pad-left
    Obtenga reportes y gráficas que le ayudarán a tomar decisiones, también exporte a Excel las operaciones realizadas como los ingresos o egresos en un rango de tiempo.


%h3.gray Múltiples monedas (divisas)

.row.feature
  .col-md-8.pad.pad-right
    Puede realizar las operaciones en distintas monedas seleccionando la moneda para el ingreso o egreso y después puede seleccionar otras monedas para cobrar o pagar, bonsaiERP le sugiere el tipo de cambio.
  .col-md-4
    .img
      = image_tag 'currencies.png'

%h3.gray Quién lo hizo y cuando?

.row.feature
  .col-md-4
    .img
      = image_tag 'modifications.png'

  .col-md-8.pad.pad-left
    Sepa quién y cuándo realizó una modificación a un registro ya sea un Ingreso, Egreso, una operación de inventario, un cobro, etc. Podrá saber en que parte del flujo intervino.

