%h3#contacto Contacto

= form_for Contact.new do |f|
  %p
    = f.text_field :name, placeholder: 'Nombre', size: 35
  %p
    = f.text_field :email, placeholder: 'Email', size: 35
  %p
    = f.text_area :query, placeholder: 'Consulta', cols: 35, rows: 5
  %p
    = f.submit 'Consultar', class: 'but-dark'
