!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ charset: 'utf-8' }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

  %title bonsaiERP - El software de gestión para micro y pequeñas empresas

  = stylesheet_link_tag 'application'
  = csrf_meta_tag
%body
  = render 'layouts/menu'
  #home
  = render 'layouts/image'
  .container.pad20
    = yield

  = render 'layouts/footer'

  = raw(bonsai_scripts 'jquery')
  = javascript_include_tag 'application'

:javascript
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();

    $('#menu').on('click', 'a:not(.dark)', function(event) {
      event.preventDefault();
      $this = $(this);
      $.scrollTo($this.attr('href'), 400, {offset: {top: -70}});
    });

    var frm = new Contact();

    // Check size
    function alignMenu() {
      if($(window).width() <= 768) {
        $('#menu .nav-main ul.nav').removeClass('pull-right');
      }
      if($(window).width() > 768) {
        $('#menu .nav-main ul.nav').addClass('pull-right');
      }
    }

    $(window).resize(function() { alignMenu() });
    alignMenu()
  });

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-203928-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
